{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<div class="wrapper">
    {% include "side-bar.html" %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Advanced Form Elements
                <small>Preview</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Forms</a></li>
                <li class="active">Advanced Elements</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <h2 class="bg-blue">pay the eact amount to this address</h2>
                <button>
                    <input id="id_address" type="text" value="{{ obj.address }}" name="address">
                    <button  onclick="hello()"> copy </button>
                </button>
            </div>
        </section>
    </div>


</div>
<script type="text/javascript">
  $(document).ready(function(){
	$("#ewefmwefmp").click(function(){
    //alert()
      var copyText = document.getElementsById("id_address");
      copyText.select();
      copyText.setSelectionRange(0, 99999)
      document.execCommand("copy");
      alert("Copied the text: " + copyText.value);

    });
});
</script>

{% endblock %}