{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
{% include "side-bar.html" %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i></a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-10">

                <!-- Profile Image -->
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <img class="profile-user-img img-responsive img-circle"
                             src="{% static 'dist/img/avater.png' %}"
                             alt="User profile picture">
                        <p class="text-muted text-center"></p>
                        <div class="box box-info ">
                            <div class="box-header with-border">
                                <h3 class="box-title" style="font-size:20px;color:blue">Edit Your Profile</h3>
                            </div>
                            <form action="{% url 'btc:profile-update' %}" method="post"> {% csrf_token %}
                                <div class="box-body">
                                    <div class="input-group " >
                                        <span class="input-group-addon" style="font-size:17px;color:#714F48">@</span>
                                        <label for="full_name" class="" style="color: 4B0082;">Full Name</label>
                                        {{ u_form.full_name }}
                                    </div>
                                    <br>
                                    <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope"
                                                                       style="font-size:20px;color:#714F48"></i></span>
                                        <label for="email" class="" style="color: 4B0082;">email</label>
                                        {{ u_form.email }}
                                    </div>
                                    <br>
                                    <h4 style="font-size:20px;color:blue">your crypto address for easy transfer</h4>
                                    <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-dollar"
                                                                       style="font-size:20px;color:#714F48"></i></span>
                                        <label for="id_address" class="" style="color: 4B0082;">Crypto Wallet
                                            address</label>
                                        {{ p_form.address }}
                                        <span class="input-group-addon"><i class="fa fa-bitcoin"
                                                                           style="font-size:20px;color:gold"></i></span>
                                    </div>


                                    <h4 style="font-size:20px;color:blue">click button to submit</h4>
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-warning"
                                        >Submit
                                            <span class="fa fa-caret-down"></span></button>
                                    </div>
                                    <!-- /btn-group -->

                                </div>
                                <!-- /.box-body -->
                            </form>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>

            </div>

        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}